//Mixins

@mixin shadow() {
	box-shadow: 2px 2px 5px rgba(0,0,0,0.8);
}

@mixin bdradius($radius) {
	border-radius: $radius;
}

@mixin gradient($color-to,$color-from) {
	background: -webkit-linear-gradient($color-to,$color-from);
	background: -moz-webkit-linear-gradient($color-to,$color-from);
	background: -o-webkit-linear-gradient($color-to,$color-from);
	background: linear-gradient($color-to,$color-from);
}